/********* Element Selector *********/
body {
    color: #393E46;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Permanent Marker', cursive;
    color: #222831;
}

h2 {
    font-size: 2.5rem;
    margin: 50px auto 50px auto;
    font-family: 'Montserrat', sans-serif;
    color: #393E46;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #393E46;
    margin-top: 80px;
}

p {
    margin: 0 auto;
    line-height: 30px;
}

a {
    color: #EEEEEE;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #EEEEEE;
    border-width: 6px;
    width: 50px;
    margin: 40px auto;
}

/********* Class ***********/

.top-container {
    background-color: #EEEEEE;
    position: relative;
    padding-top: 100px;
}

.bottom-container {
    background-color: #222831;
    height: 200px;
}

.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.profile-picture {
    height: 150px;
    margin: 50px auto 0 auto;
}

.skill-row {
    width: 50%;
    margin: auto;
    text-align: left;
    line-height: 2;
}

.skills-img {
    float: left;
    margin-right: 30px;
}

.work-img {
    float: right;
    margin-left: 30px;
}

.projects-img {
    float: left;
    margin-right: 30px;
}

.about-me {
    margin: auto;
    width: 30%;
}

.btn {
    margin: 50px auto;
    display: inline-block;
    background: #222831;
    background-image: -webkit-linear-gradient(top, #222831, #222831);
    background-image: -moz-linear-gradient(top, #222831, #222831);
    background-image: -ms-linear-gradient(top, #222831, #222831);
    background-image: -o-linear-gradient(top, #222831, #222831);
    background-image: linear-gradient(to bottom, #222831, #222831);
    -webkit-border-radius: 38;
    -moz-border-radius: 38;
    border-radius: 38px;
    font-family: 'Montserrat', sans-serif;
    color: #EEEEEE;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #393E46;
    background-image: -webkit-linear-gradient(top, #393E46, #393E46);
    background-image: -moz-linear-gradient(top, #393E46, #393E46);
    background-image: -ms-linear-gradient(top, #393E46, #393E46);
    background-image: -o-linear-gradient(top, #393E46, #393E46);
    background-image: linear-gradient(to bottom, #393E46, #393E46);
    text-decoration: none;
}

.footer-link {
    margin: 50px 25px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.footer-link:hover {
    color: #FFFFFF;
}

.bottom-text {
    color: #EEEEEE;
    font-size: 0.75rem;
}

.get-in-touch-text {
    width: 40%;
    margin: 40px auto 40px;
}